* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
	color: white;
	display: flex;
	flex-direction: column;
}

/* ================= HEADER ================= */
.header {
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.3);
	align-items: center;
	padding: 20px 60px;
	animation: slideDown 1s ease;
}

.logo {
	font-size: 1.8rem;
}

nav a {
	margin-left: 25px;
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: 0.3s;
}

nav a:hover,
.logo:hover {
	color: #00eaff;
}

/* ================= MAIN ================= */
.main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 3rem;
}

.about {
	padding: 80px 10%;
	color: #fff;
}

.about-container {
	display: flex;
	align-items: center;
	gap: 50px;
}

.about-image img {
	width: 280px;
	height: 320px;
	border-radius: 50%;
	border: 4px solid #00e0ff;
}

.about-content h2 {
	font-size: 36px;
	margin-bottom: 15px;
}

.about-content p {
	font-size: 16px;
	line-height: 1.7;
	margin-bottom: 15px;
	color: #ddd;
	text-align: justify;
}

.about-content ul {
	list-style: none;
	margin-bottom: 20px;
}

.about-content ul li {
	margin-bottom: 8px;
}

.about-content ul {
	margin: 2rem auto;
}

.btn {
	display: inline-block;
	padding: 10px 25px;
	background: #00e0ff;
	color: #000;
	border-radius: 25px;
	text-decoration: none;
	font-weight: bold;
}
/* ================= FOOTER ================= */
.footer {
	text-align: center;
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 0.9rem;
	animation: fadeIn 2s ease;
}

/* ================= ANIMATIONS ================= */
.fade-in {
	animation: fadeIn 1.5s ease-in;
}

.slide-up {
	animation: slideUp 1.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-40px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* ================= RESPONSIVE DESIGN ================= */
@media (max-width: 576px) {
	.header {
		flex-direction: column;
		padding: 5px 10px;
	}

	nav {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
		@media (max-width: 768px) {
			.about-container {
				flex-direction: column;
				text-align: center;
			}
	
			.about-image img {
				width: 220px;
				height: 250px;
			}
	
			.about-content h2 {
				font-size: 28px;
			}

			.about-content li{
				text-align: left;
			}
			
			
		}
