* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
	color: white;
	display: flex;
	flex-direction: column;
}

/* ================= HEADER ================= */
.header {
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.3);
	align-items: center;
	padding: 20px 60px;
	animation: slideDown 1s ease;
}

.logo {
	font-size: 1.8rem;
}

nav a {
	margin-left: 25px;
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: 0.3s;
}

nav a:hover,
.logo:hover {
	color: #00eaff;
}

/* ================= MAIN ================= */
/* ================= PROJECTS PAGE ================= */

.projects-main {
	flex: 1;
	padding: 50px 20px;
	text-align: center;
}

.page-title {
	font-size: 2.8rem;
	margin-bottom: 10px;
	color: #00eaff;
}

.page-subtitle {
	color: #e0e0e0;
	margin-bottom: 3rem;
	font-size: 1.1rem;
}

.projects-container {
	max-width: 1100px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
}

/* Project Card */
.project-card {
	background: rgba(0, 0, 0, 0.3);
	padding: 30px;
	border-radius: 15px;
	text-align: left;
	transition: 0.4s ease;
	backdrop-filter: blur(6px);
}

.project-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 0 25px rgba(0, 234, 255, 0.4);
}

.project-card h2 {
	margin-bottom: 15px;
	color: #00eaff;
	font-size: 1.4rem;
}

.project-card p {
	font-size: 1rem;
	color: #ddd;
	margin-bottom: 20px;
}

/* Tech Tags */
.tech {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
}

.tech span {
	padding: 5px 12px;
	border-radius: 20px;
	font-size: 0.85rem;
	background: rgba(0, 234, 255, 0.15);
	color: #00eaff;
}

/* Links */
.project-links {
	display: flex;
	gap: 15px;
}

.project-links a {
	text-decoration: none;
	color: #00eaff;
	font-weight: 500;
	transition: 0.3s;
}

.project-links a:hover {
	color: white;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
	.page-title {
		font-size: 2.2rem;
	}
}



/* ================= FOOTER ================= */
.footer {
	text-align: center;
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 0.9rem;
	animation: fadeIn 2s ease;
}



/* ================= RESPONSIVE DESIGN ================= */
@media (max-width: 576px) {
	.header {
		flex-direction: column;
		padding: 5px 10px;
	}

	nav {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

}