* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
	color: white;
	display: flex;
	flex-direction: column;
}

/* ================= HEADER ================= */
.header {
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.3);
	align-items: center;
	padding: 20px 60px;
	animation: slideDown 1s ease;
}

.logo {
	font-size: 1.8rem;
}

nav a {
	margin-left: 25px;
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: 0.3s;
}

nav a:hover,
.logo:hover {
	color: #00eaff;
}

/* ================= MAIN ================= */
.main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 3rem;
}

.hero {
	/* text-align: center; */
	max-width: 700px;
	padding: 20px;
}

h1 {
	font-size: 3rem;
	margin-bottom: 15px;
}

h1 span {
	color: #00eaff;
}

h2 {
	font-size: 1.8rem;
	height: 40px;
	margin-bottom: 20px;
	color: #ffd369;
}

p {
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 30px;
}

.profile-img img {
	width: 230px;
	height: 230px;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid #00eaff;
	box-shadow: 0 0 25px rgba(0, 234, 255, 0.6);
	animation: float 4s ease-in-out infinite;
}

/* ================= BUTTONS ================= */
.buttons {
	display: flex;
	/* justify-content: center; */
	gap: 20px;
}

.btn {
	padding: 12px 25px;
	text-decoration: none;
	border-radius: 30px;
	font-weight: bold;
	transition: 0.3s ease;
}

.primary {
	background: #00eaff;
	color: black;
}

.primary:hover {
	background: white;
}

.secondary {
	border: 2px solid #00eaff;
	color: #00eaff;
}

.secondary:hover {
	background: #00eaff;
	color: black;
}

/* ================= FOOTER ================= */
.footer {
	text-align: center;
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 0.9rem;
	animation: fadeIn 2s ease;
}

/* ================= ANIMATIONS ================= */
.fade-in {
	animation: fadeIn 1.5s ease-in;
}

.slide-up {
	animation: slideUp 1.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(30px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-40px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* ================= RESPONSIVE DESIGN ================= */
@media (max-width: 576px) {
	.header {
		flex-direction: column;
		padding: 5px 10px;
	}
	nav{
		margin-top: 0.5rem;
	}
	.main{
		flex-direction: column-reverse;
		padding-top: 2rem;
	}
	.main p{
		text-align: justify;
	}
}